@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

html {
  font-family: "Comic Relief", system-ui;
}

body {
  background-image: url('/images/duck.png');
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-white {
  text-shadow: 1px 1px 1px #000;
}

.text-gray-300 {
  text-shadow: 1px 1px 1px #000;
}

.h-48 {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}